@{
    ViewBag.Title = "E-Exam Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to E-Exam</h2>
<p>Manage your exams with ease.</p>

@if (User.Identity.IsAuthenticated)
{
    <p>Welcome back, <strong>@ViewBag.UserFullName</strong>!</p>
    <!-- Buttons for Course List, Upcoming Exams, Exam Results -->
    <div class="buttons-container">
        @Html.ActionLink("Course List", "Index", "Courses", new { }, new { @class = "btn btn-info" })
        @* @Html.ActionLink("Users Exams", "Index", "Courses", new { }, new { @class = "btn btn-warning" }) *@
        @* @Html.ActionLink("Exam Results", "Index", "Courses", new { }, new { @class = "btn btn-success" }) *@
        @if(ViewBag.UserRole == "Admin")
        {
            @Html.ActionLink("Approve Users", "ApproveUsers", "Admin", null, new { @class = "btn btn-primary " })
        }
        

    </div>
}
else
{
    <!-- Buttons for Login and Register -->
    <div>
        @Html.ActionLink("Login", "Login", "Account", new { }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Register", "Register", "Account", new { }, new { @class = "btn btn-success" })
    </div>
}

<style>
    .buttons-container {
        margin-top: 20px;
    }
</style>